@keyframes animatedBackground {
    from {
background-position: 0 0;
}
    to {
background-position: 100% 0;
}
}
body {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
background: linear-gradient(-45deg, #4caf50, #2196F3, #ff4081, #FFC107); 
background-size: 400% 400%; 
animation: animatedBackground 10s linear infinite;
background-position: 0%;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    border: 20px solid dodgerblue;
    width: 600px;
    height: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(248, 243, 243);
    border-radius: 10px;
    
}

.register-form{  
    margin-top: 10px;
    margin-right: 10px;
    padding-left: 25px;
}

.register-form input {
    margin-bottom: 5px;
}

input {
    width: 260px;
    height: 20px;
    font-size: 12px;
}

h1{
    color: dodgerblue;
    margin-right: 10px;
    margin-left: -20px;
}

p{
    color: grey;
    font-size: 15px;
    margin-left: -20px;
}

hr{
    width: 270px;
    margin-left: -20px;
}

.checkbox-register{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    margin-top: 20px;
    margin-left: -20px;
}

.checkbox-register>input{
    width: 14px; 
    height: 14px; 
    font-size: 12px;
}

.checkbox-register>label{
    margin-left: 5px;
}

.checkbox-register>button{
    width: 60px;
    height: 30px;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    margin-left: 30px;
    background-color: aqua;

}
img{
    position: absolute;
    margin-left: -20px;
    width: 20px;
    height: 24px;
    background-color: grey;
    border: 1px solid grey;
    font-size: 1em;
}


@media screen and (max-width: 599px) {
    .container {
        width: 400px;
        height: 500px;
    }
   
    h1 {
        padding-top: 80px;
        font-size: 14px;
      }

    h5 {
        font-size: 15px;
    }

    .checkbox-register>input{
        width: 14px; 
        height: 14px; 
        font-size: 12px;
    }
    
    .checkbox-register>label{
        margin-left: 5px;
        margin-bottom: 20px;
    }
    
    .checkbox-register>button{
        width: 60px;
        height: 30px;
        text-align: center;
        font-size: 13px;
        font-weight: 500;
        margin-left: 30px;
        background-color: aqua;
    
    }

    #footerP {
        font-size: 14px;
        padding-left: 35px;
        margin-bottom: 60px;
    }
  }

  @media only screen and (min-width: 600px) and (max-width: 768px) {

    h1 {
      font-size: 18px;
    }

    #footerP {
        font-size: 14px;
        padding-left: 35px;
        margin-bottom: 60px;
    }
     
  }

  @media only screen and (min-width: 769px) { 
          
        h1 {
            font-size: 18px;
            margin-top: 40px;
          }

        /* #footerP {
            font-size: 14px;
            padding-left: 115px;
            margin-bottom: 60px;
        } */
        .footer a{
            text-decoration: none;
            color: black;
            margin-top: 40px;
            height: 15px;
            width: 15px;
          }
        
         #footerP {
            margin-top: 40px;
            margin-bottom: 80px;
          }
          
  }

  @media only screen and (min-width: 990px) {

        h1 {
        font-size: 28px;
        padding-top: 20px;
        }
    
        .checkbox-register>input{
            width: 14px; 
            height: 14px; 
            font-size: 12px;
        }
        
        .checkbox-register>label{
            margin-left: 5px;
            margin-bottom: 80px;
        }
        
        .checkbox-register>button{
            width: 60px;
            height: 30px;
            text-align: center;
            font-size: 13px;
            font-weight: 500;
            margin-left: 30px;
            background-color: aqua;
        
        }
    
        /* #footerP {
            font-size: 14px;
            padding-left: 35px;
        } */

        .footer a{
            text-decoration: none;
            color: black;
            margin-top: 40px;
            height: 15px;
            width: 15px;
          }
        
         #footerP {
            margin-top: 40px;
            margin-bottom: 80px;
          }
  
  }